language: C
os:
  - osx
  - linux
env:
  matrix:
    - PYTHON_VERSION="3.7"
      COVERAGE="false"
      DEPLOY_PYPI_SOURCE="False"
      NUMPY_VERSION="1.15"
    - PYTHON_VERSION="3.8"
      COVERAGE="false"
      DEPLOY_PYPI_SOURCE="True"
      NUMPY_VERSION="1.19"
    - PYTHON_VERSION="3.9"
      COVERAGE="false"
      DEPLOY_PYPI_SOURCE="False"
      NUMPY_VERSION="1.19"
before_install:
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then CC=gcc ; fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then CXX=g++; fi
install: source continuous_integration/Travis/install_dependencies.sh
script:
  - flake8 .
  - bash continuous_integration/Travis/test_script.sh
after_success:
  - if [[ "$COVERAGE" == "true" ]]; then coveralls; fi
deploy:
  provider: script
  script: bash continuous_integration/Travis/deploy_script.sh
  on:
    branch: master
