language: C
env:
  global:
    - LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libgfortran.so.3
  matrix:
    - os: linux
      env: DISTRIB="conda" PYTHON_VERSION="2.7" INSTALL_ATLAS="true"
      NUMPY_VERSION="1.13" SCIPY_VERSION="0.19"
      COVERAGE="true" INSTALL_GLPK="true"
    - os: linux
      eng: DISTRIB="conda" PYTHON_VERSION="2.7" INSTALL_ATLAS="true"
      NUMPY_VERSION="1.13" SCIPY_VERSION="0.19"
      COVERAGE="true" INSTALL_GLPK="false"
    - os: linux
      env: DISTRIB="conda" PYTHON_VERSION="3.5" INSTALL_ATLAS="true"
      NUMPY_VERSION="1.13" SCIPY_VERSION="0.19"
      COVERAGE="true" INSTALL_GLPK="true"
    - os: linux
      env: DISTRIB="conda" PYTHON_VERSION="3.5" INSTALL_ATLAS="true"
      NUMPY_VERSION="1.13" SCIPY_VERSION="0.19"
      COVERAGE="true" INSTALL_GLPK="false"
    - os: linux
      env: DISTRIB="conda" PYTHON_VERSION="3.6" INSTALL_ATLAS="true"
      NUMPY_VERSION="1.13" SCIPY_VERSION="0.19"
      COVERAGE="true" INSTALL_GLPK="true"
    - os: linux
      env: DISTRIB="conda" PYTHON_VERSION="3.6" INSTALL_ATLAS="true"
      NUMPY_VERSION="1.13" SCIPY_VERSION="0.19"
      COVERAGE="true" INSTALL_GLPK="false"
    - os: osx
      env: DISTRIB="conda" PYTHON_VERSION="2.7" INSTALL_ATLAS="true"
      NUMPY_VERSION="1.13" SCIPY_VERSION="0.19"
      COVERAGE="true" INSTALL_GLPK="false"
    - os: osx
      eng: DISTRIB="conda" PYTHON_VERSION="3.5" INSTALL_ATLAS="true"
      NUMPY_VERSION="1.13" SCIPY_VERSION="0.19"
      COVERAGE="true" INSTALL_GLPK="false"
    - os: osx
      eng: DISTRIB="conda" PYTHON_VERSION="3.6" INSTALL_ATLAS="true"
      NUMPY_VERSION="1.13" SCIPY_VERSION="0.19"
      COVERAGE="true" INSTALL_GLPK="false"
sudo: required
install: source continuous_integration/install.sh
script:
  - bash continuous_integration/test_script.sh
  - flake8 .
after_success:
    - if [[ "$COVERAGE" == "true" ]]; then coveralls; fi
cache: apt
addons:
  apt:
    packages:
    - gfortran
    - libgfortran3
