language: python
virtualenv:
  system_site_packages: true
env:
  matrix:
    - DISTRIB="conda" PYTHON_VERSION="2.7" INSTALL_ATLAS="true"
      NUMPY_VERSION="1.9" SCIPY_VERSION="0.15"
      COVERAGE="true" INSTALL_GLPK="true"
    - DISTRIB="conda" PYTHON_VERSION="2.7" INSTALL_ATLAS="true"
      NUMPY_VERSION="1.9" SCIPY_VERSION="0.15"
      COVERAGE="true" INSTALL_GLPK="false"
    - DISTRIB="conda" PYTHON_VERSION="3.4" INSTALL_ATLAS="true"
      NUMPY_VERSION="1.9" SCIPY_VERSION="0.15"
      COVERAGE="true" INSTALL_GLPK="true"
    - DISTRIB="conda" PYTHON_VERSION="3.4" INSTALL_ATLAS="true"
      NUMPY_VERSION="1.9" SCIPY_VERSION="0.15"
      COVERAGE="true" INSTALL_GLPK="false"
install: source continuous_integration/install.sh
script: bash continuous_integration/test_script.sh
after_success:
    - if [[ "$COVERAGE" == "true" ]]; then coveralls; fi
cache: apt
addons:
  apt:
    packages:
    - gfortran