#  see: https://www.appveyor.com/docs/build-environment/#build-vm-configurations
#  for details on the AppVeyor build VM configurations
environment:
    global:
          PYTHON: "C:\\conda"
          MINICONDA_FILENAME: "Miniconda2-latest-Windows-x86_64.exe"
    matrix:
          - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
            PYTHON_VERSION: "3.5"
          - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
            PYTHON_VERSION: "3.6"
          - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
            PYTHON_VERSION: "3.7"
          - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
            PYTHON_VERSION: "3.7"


# SCS is a required solver, and it has no 32 bit distribution
# on conda; cvxpy's AppVeyor tests will only use 64 bit Windows.
platform:
    - x64

# The install phase is contained in two PowerShell scripts.
install:
    - "powershell continuous_integration\\AppVeyor\\download_and_install_miniconda.ps1"
    - "powershell continuous_integration\\AppVeyor\\configure_conda_and_install_cvxpy.ps1"

# Not a .NET project, we build CVXPY in the install step instead.
build: false

# The test phase uses Windows CMD commands (not PowerShell).
test_script:
    - "conda activate testenv"
    - "conda env list"
    - "nosetests cvxpy"

deploy_script:
    - "powershell continuous_integration\\AppVeyor\\deploy_windows.ps1"
