attrs==25.3.0
contourpy==1.3.2
cycler==0.12.1
cyipopt==1.5.0
filelock==3.18.0
fonttools==4.59.0
fsspec==2025.7.0
hypothesis==6.136.1
iniconfig==2.1.0
kiwisolver==1.4.8
matplotlib==3.10.3
mpmath==1.3.0
networkx==3.5
packaging==25.0
pandas==2.3.1
pillow==11.3.0
pluggy==1.6.0
pygments==2.19.2
pyparsing==3.2.3
pytest==8.4.1
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
sortedcontainers==2.4.0
sympy==1.14.0
torch==2.7.1
typing-extensions==4.14.1
tzdata==2025.2
file:///Users/willizz/Documents/cvxpy-ipopt/cvxtorch