[tool.isort]
include_trailing_comma = true
use_parentheses = true
extend_skip = [
    "cvxpy/__init__.py",
    "cvxpy/reductions/__init__.py",
    "cvxpy/reductions/dcp2cone/atom_canonicalizers/__init__.py"
]

[tool.pytest.ini_options]
testpaths = [
    "cvxpy/tests/"
]

[build-system]
requires = [
    "numpy>=1.15,<1.16; python_version=='3.6'",
    "numpy>=1.15,<1.16; python_version=='3.7'",
    "numpy>=1.16,<1.17; python_version=='3.8'",
    "numpy>=1.19,<1.20; python_version=='3.9'",
    "scipy >= 1.1.0",
    "setuptools>=40.8.0",
    "wheel"
]