[tool.ruff]
select = ["E", "F", "I"]
line-length = 100
exclude = [
    "build",
    "examples",
    "doc",
    "cvxpy/cvxcore/*",
    "*__init__.py"
]
# The minimum Python version that should be supported
target-version = "py37"


[tool.pytest.ini_options]
testpaths = [
    "cvxpy/tests/"
]

[build-system]
requires = [
    "numpy>=1.17,<1.18; python_version=='3.8' and platform_machine!='aarch64'",
    "numpy>=1.19.2,<1.20; python_version=='3.8' and platform_machine=='aarch64'",
    "numpy>=1.19,<1.20; python_version=='3.9' and (platform_machine not in 'arm64|aarch64' or platform_system!='Darwin')",
    "numpy>=1.19.2,<1.20; python_version=='3.9' and platform_machine=='aarch64'",
    "numpy>=1.21.4,<1.22; python_version=='3.9' and (platform_machine=='arm64' and platform_system=='Darwin')",
    "numpy>=1.21,<1.22; python_version=='3.10' and (platform_machine!='arm64' or platform_system!='Darwin')",
    "numpy>=1.21.4,<1.22; python_version=='3.10' and (platform_machine=='arm64' and platform_system=='Darwin')",
    "numpy>=1.23.4,<1.24; python_version=='3.11'",
    "numpy>=1.26.0,<1.27; python_version=='3.12'",
    "scipy >= 1.1.0",
    "setuptools>65.5.1",
    "wheel",
    "pybind11"
]
