name: benchmarks

on:
   pull_request:
  #push:
  #    branches:
  #        - master
          
# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write

#on:
#  push:
#      branches:
#          - master

jobs:
  benchmark:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Checkout benchmark
        uses: actions/checkout@v2
        with:
          repository: cvxpy/benchmarks
          ref: main
          fetch-depth: 0

      - name: Install dependencies
        run: |
          pip install .
      
      - name: Checkout deployed branch
        uses: actions/checkout@v2
        with:
          repository: cvxpy/benchmarks
          ref: gh-pages
          path: deployed/

      - name: Copy contents to docs and results
        run: |
          mkdir docs
          mkdir results
          cp -a deployed/results/. results/
          cp -a deployed/docs/. docs/
      
      - name: Run benchmarks
        run: |
          asv machine --yes
          asv run "master -n 2"
          asv publish
      
      - name: Make pages folder
        run: |
          mkdir pages
          mv results pages/
          mv docs pages/
      
      - name: Deploy HTML and Results Artifacts
        uses: JamesIves/github-pages-deploy-action@v4.2.2
        with:
          folder: pages/
          repository-name: cvxpy/benchmarks
          branch: gh-pages
          ssh-key: "${{ secrets.BENCHMARK_DEPLOY_KEY }}"
