name: test_metapackage

on:
    pull_request:
    push:
        branches:
            - master
        tags:
          - '*'
jobs:
  test_optional_solvers:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-22.04, macos-13, windows-2022 ]
    steps:
      - uses: actions/checkout@v4
      - name: Set Additional Envs
        run: |
          echo "PYTHON_SUBVERSION=$(echo $PYTHON_VERSION | cut -c 3-)" >> $GITHUB_ENV
          echo $MOSEK_CI_BASE64 | base64 -d > mosek.lic
          echo "MOSEKLM_LICENSE_FILE=$( [[ $RUNNER_OS == 'macOS' ]] && echo $(pwd)/mosek.lic || echo $(realpath mosek.lic) )" >> $GITHUB_ENV
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: 3.12
          channels: conda-forge,anaconda
      - uses: actions/checkout@v4
      - name: Install cvxpy dependencies and all optional solvers
        run: |
          cd meta-package
          pip install .
      - name: Print installed solvers
        run : |
          python -c "import cvxpy; print(cvxpy.installed_solvers())" 
          python -c "import clarabel" 
          python -c "import scs" 
          python -c "import osqp" 

    env:
      RUNNER_OS: ${{ matrix.os }}
      PYTHON_VERSION: 3.12
